{% extends 'base.html.twig' %}

{% block title %}О проекте{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Вариант 1. Блог </h1>
    <p> Разработать блог. </p>
    <br>
    <p> <strong> На всех страницах </strong> в шапке сайта для неавторизованных пользователей выводить ссылки на авторизацию и регистрацию, для авторизованных - приветствие, кнопку “Выход” и имя пользователя. </p>
    <br>
    <p> <strong> На главной странице </strong> выводятся посты, отсортированные по дате добавления. У каждого поста выводится название (ссылка на страницу поста), дата добавления, аннотация (краткое описание содержимого или первая часть поста) и количество комментариев к посту. </p>
    <br>
    <p> <strong> На странице поста </strong> выводится информация о посте: </p>
        <ul>
            <li> название </li>
            <li> дата добавления </li>
            <li> текст описания </li>
            <li> количество просмотров поста </li>
            <li> список комментариев, отсортированных по дате добавления </li>
            <li> форма “Оставить комментарий” (текстовое поле и кнопка  “Отправить”) </li>
        </ul>
    <br>
    <p> <strong> На странице добавления поста </strong> располагается форма с полями </p>
        <ul>
            <li> название </li>
            <li> аннотация </li>
            <li> текст поста </li>
        </ul>
    <br>
    <p> Все поля обязательные. Если какие-то из введенных значений невалидны, сохранения в БД не происходит, на форме выводятся сообщения об ошибках. Заполненные пользователем текстовые поля не сбрасываются.</p>
    <br>
    <p> Просмотром новости должно считаться посещение детальной страницы поста, если текущий пользователь - не автор поста. </p>
    <br>
    <p> После успешной отправки выполнять редирект на страницу созданного поста. </p>
    <br>
    <p> Все пользователи (в том числе неавторизованные) могут просматривать посты и комментарии к ним. </p>
    <p> Авторизованные пользователи могут оставлять комментарии под постами. Пользователь с правами администратора должен иметь возможность добавления, удаления и редактирования постов, а также удаления комментариев.</p>
</div>
{% endblock %}
