<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if app.user %}
            <p> <a href="{{ path('app_logout') }}"> Выход </a></p>
        {% endif %}
        {% if app.user is same as(null) %}
            <p> <a href="{{ path('app_register') }}"> Регистрация </a></p>
            <p> <a href="{{ path('app_login') }}"> Вход </a></p>
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
